# Site
name: 'simonprickett.dev'
description: 'The personal website of Simon Prickett.'
logo: 'assets/images/logo.webp'
favicon: 'assets/images/favicon.webp'
baseurl: ''
disqus: 'simonprickett-dev'
email: 'simon@crudworks.org'

include: ["_pages"]
permalink: /:title/

# Plugins
plugins: 
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag

authors:
    simon:
      name:           Simon Prickett
      site:           https://simonprickett.dev
      avatar:         assets/images/simon.webp
      bio:            "Hugely Experienced Developer Relations Leader."
      email:          simon@crudworks.org
 
# Defaults
defaults:

  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      author: simon
      avatar: assets/images/avatar1.webp
      
  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page
      
# Syntax
markdown: kramdown
highlighter: rouge

# Paginate
paginate: 10

# SEO Plugin
twitter:
  card: summary_large_image

author: Simon Prickett
tagline: The personal website of Simon Prickett.

social:
  name: Simon Prickett
  links:
    - https://github.com/simonprickett

lang: en_US

webmaster_verifications:
  google: xbNwkkD94iguJKfBadQfor4OtzN9nj426O4UJpTeCcA

# Exclude metadata and development time dependencies (like Grunt plugins)
exclude: [vendor, readme-updater, README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules]
