<div>
	<iframe id="cp_embed_{{ include.pen }}" src="//codepen.io/{{ include.user }}/embed/{{ include.pen }}?height={{ include.height }}&amp;type={{ include.tab }}&amp;href={{ include.pen }}&amp;user={{ include.video }}&amp;slug-hash={{ include.pen }}&amp;default-tab={{ include.tab }}" scrolling="no" frameborder="0" height="{{ include.height }}" allowtransparency="true" allowfullscreen="true" class="cp_embed_iframe undefined" style="width: 100%; overflow: hidden;"></iframe>
</div>
<script async="" src="http://codepen.io:/assets/embed/ei.js"></script>