<section style="display: none;" class="h-card vcard">
    <ul>
        <li class="p-name fn">
            <span class="p-given-name given-name">Simon</span> <span class="p-family-name family-name">Prickett</span>
        </li>
        <li class="p-nickname nickname">
            simonprickett
        </li>
        <li class="p-job-title title">
            Software Professional
        </li>
        <li class="p-role role">
            Software Professional
        </li>
        <li>
            <ul class="p-org org">
                <li>
                    <a class="p-name p-organization-name organization-name" href="https://simonprickett.dev/">simonprickett.dev</a>
                </li>
                 <li>
                    <img src="{{site.baseurl}}/assets/images/simon.jpg" alt="simonprickett.dev" class="u-logo logo" />
                 </li>
            </ul>
        </li>
        <li>
            <a class="u-email email" href="mailto:simon@crudworks.org">simon@crudworks.org</a>
        </li>
        <li>
            <a class="u-url url" rel="me" href="https://simonprickett.dev/">simonprickett.dev</a>
        </li>
         <li>
            <address class="p-adr h-adr adr">
                <span class="p-locality locality">San Diego</span>,  <span class="p-country-name country-name">United States</span>
            </address>
        </li>
        <li class="p-note note">
            Software professional, electronics hobbyist.
        </li>
        <li>
            <img src="{{site.baseurl}}/assets/images/simon.jpg" alt="Simon Prickett" title="Simon Prickett" class="u-photo photo" />
        </li>
    </ul>
</section>